<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hiking - Premium Travel</title>
    <link rel="stylesheet" href="/stylesheets/premium.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-premium">
        <a class="navbar-brand" href="/home">Premium Travel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link premium-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link premium-link" href="/wanttogo">My List</a>
                </li>
            </ul>
            <form method="POST" action='/search' class="form-inline my-2 my-lg-0">
                <input class="form-control search-premium mr-sm-2" name="Search" type="search" placeholder="Search destinations..."
                    aria-label="Search">
                <button class="btn btn-premium-outline my-2 my-sm-0" type="submit">Search</button>
            </form>
            <div class="ml-3">
                <span class="text-purple mr-3">Welcome, <%= user.username %></span>
                <a href="/logout" class="btn btn-premium-outline btn-sm">Logout</a>
            </div>
        </div>
    </nav>

    <div class="container-premium fade-in">
        <h1 class="premium-title">Hiking Destinations</h1>
        <p class="text-center text-muted mb-5" style="font-size: 1.2rem;">Epic trails and mountain adventures</p>
        
        <div class="row justify-content-center">
            <div class="col-md-5 mb-4">
                <div class="card-premium">
                    <img src="/inca.png" alt="Inca Trail">
                    <div class="p-4">
                        <h3 class="text-purple mb-3" style="cursor: pointer;" onclick="location.href='/inca'">Inca Trail to Machu Picchu</h3>
                        <p class="text-muted mb-4">One of the world's most famous trekking routes through stunning Andean landscapes.</p>
                        <a href="/inca" class="btn btn-premium">View Details</a>
                    </div>
                </div>
            </div>
            <div class="col-md-5 mb-4">
                <div class="card-premium">
                    <img src="/annapurna.png" alt="Annapurna Circuit">
                    <div class="p-4">
                        <h3 class="text-purple mb-3" style="cursor: pointer;" onclick="location.href='/annapurna'">Annapurna Circuit</h3>
                        <p class="text-muted mb-4">Spectacular trekking route in the Himalayas with stunning mountain views.</p>
                        <a href="/annapurna" class="btn btn-premium">View Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/javascripts/autocomplete.js"></script>
</body>
</html>
